<!DOCTYPE html>
<html lang="mg">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="color-scheme" content="light dark">
    <title>{% block title %}DidiCafe{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>{% block theme_css %}{% endblock %}</style>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <script src="/static/i18n.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
